<div class="card m-3" [class]="actividad == DESCANSANDO ? 'border-secondary': 'border-primary'">
    <h4 class="card-header" [class]="actividad == DESCANSANDO ? 'text-bg-secondary': 'text-bg-primary'">Cronómetro</h4>
    <div class="card-body">
        <div class="d-grid gap-2">
            @if (serie) {
                <div class="text-center text-secondary">
                    <!--<p class="d-inline align-middle fs-5 me-2">Serie</p>-->
                    <p class="d-inline align-middle fs-3 fw-bold">N° {{ serie }}</p>
                </div>
            }
            @if (imagePath) {
                <div>
                    <img [src]="imagePath" class="mx-auto d-block img-thumbnail" loading="eager"/>
                </div>
            }
            <div class="text-center fw-bold"
                [class]="actividad == PREENTRENO ? 'fs-1 my-4': 'fs-extra-large my-1'"
                [class.text-primary]="actividad != DESCANSANDO"
                [class.text-secondary]="actividad == DESCANSANDO">
                @if (!this.timerToString()) {
                    ¡A Entrenar!
                } @else {
                    {{ this.timerToString() }}
                }
            </div>
            <button class="btn py-3 btn-lg" type="button"
                [class]="actividad != DESCANSANDO ? 'btn-primary': 'btn-secondary'"
                (click)="cronometroClick()">
                {{ (actividad == ENTRENANDO) ? 'Descansar': '¡Entrenar!' }}
            </button>
        </div>
    </div>
</div>
