  <div class="card m-3 border-primary">
    <h4 class="card-header text-bg-primary">Verificación de Cuenta</h4>
    <div class="card-body">
      <form [formGroup]="confirmarForm" (ngSubmit)="onSubmit()">
        <div class="input-group input-group-sm">
          <input type="hidden" readonly class="form-control" aria-describedby="usernameHelpBlock" placeholder="Nombre de Usuario" formControlName="username"/>
        </div>
        <div class="input-group input-group-sm mt">
          <input type="text" class="form-control" aria-describedby="confirmationCodeHelpBlock" placeholder="Código de Verificación" formControlName="confirmationCode"
            [ngClass]="{
                'is-invalid': confirmarForm.controls['confirmationCode'].invalid && (confirmarForm.controls['confirmationCode'].touched || confirmarForm.controls['confirmationCode'].dirty),
                'is-valid': confirmarForm.controls['confirmationCode'].valid && (confirmarForm.controls['confirmationCode'].touched || confirmarForm.controls['confirmationCode'].dirty)
            }"/>
        </div>
        @if (confirmarForm.controls['confirmationCode'].invalid && (confirmarForm.controls['confirmationCode'].touched || confirmarForm.controls['confirmationCode'].dirty)) {
          @if (confirmarForm.controls['confirmationCode'].errors?.["required"]) {
            <div class="form-text text-danger px-2">Debe ingresar su código de verificación</div>
          }
        }

        <div class="d-grid gap-2">
          <button class="btn btn-success btn-sm mt-2 mb-3" type="submit" [disabled]="loading">
            @if (loading) {
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            }
            Verificar Cuenta
          </button>
        </div>
      </form>

      @if (mensajeErrorGeneral.length > 0) {
        <h2 class="text-center text-danger mx-2 mb-3 text-small">{{ mensajeErrorGeneral }}</h2>
      }
      @if (mensajeGeneral.length > 0) {
        <h2 class="text-center text-primary mx-2 mb-3 text-small">{{ mensajeGeneral }}</h2>
      }

      <button class="btn btn-outline-secondary float-end btn-xsm" (click)="reenviarCodigoVerificacion()" [disabled]="loadingReenviarCodigo || deshabilitarReenvioCodigo">
        @if (loadingReenviarCodigo) {
          <span class="spinner-border spinner-border-xsm" role="status" aria-hidden="true"></span>
        }
        {{ textoBotonReenviar }}
      </button>

    </div>
  </div>
