<div class="card m-3 border-primary">
    <h4 class="card-header text-bg-primary">Entrenamientos</h4>
    <div class="card-body">
        <form [formGroup]="desdeHastaForm">
            <div class="input-group">
                <input type="date" class="form-control text-center" (input)="cambioDeFechasFiltro()" [ngClass]="{'is-invalid': desdeHastaForm.controls['desde'].invalid}" placeholder="dd/mm/aaaa" formControlName="desde"/>
                <input type="date" class="form-control text-center" (input)="cambioDeFechasFiltro()" [ngClass]="{'is-invalid': desdeHastaForm.controls['hasta'].invalid}" placeholder="dd/mm/aaaa" formControlName="hasta"/>
            </div>
        </form>

        @if (!cargando) {
            @if (!ocurrioError) {
                @for (entrenamientosPorFecha of entrenamientosPorFechas; track entrenamientosPorFecha.dia; let index = $index) {
                    <div class="separator text-secondary border-secondary fw-bold mt-2">{{ entrenamientosPorFecha.dia | date : "dd MMMM" }}</div>
                    <ul class="list-group list-group-flush">
                        @for (entrenamiento of entrenamientosPorFecha.entrenamientos; track entrenamiento.id) {
                            <li class="list-group-item py-0">
                                <app-tarjeta-entrenamiento [entrenamiento]="entrenamiento"></app-tarjeta-entrenamiento>
                            </li>
                        }
                    </ul>
                } @empty {
                    <ul class="list-group list-group-flush mt-2">
                        <li class="list-group-item text-center text-secondary fst-italic">Nada que mostrar...</li>
                    </ul>
                }
            } @else {
                <ul class="list-group list-group-flush mt-2">
                    <li class="list-group-item text-center text-danger">¡Ups! Parece que ocurrió un error al obtener tus entrenamientos...</li>
                </ul>
            }
        } @else {
            <div class="d-flex justify-content-center text-primary mt-4 mb-1">
                <div class="spinner-border" role="status"></div>
                <h4 class="mx-3 mt-1">Cargando...</h4>
            </div>
        }

        @if (salEntrenamientos?.totalPaginas! > 1) {
            <nav aria-label="Páginas listado de entrenamientos">
                <ul class="pagination justify-content-center mb-0 mt-2">
                    <li class="page-item">
                        <span class="page-link" aria-label="Anterior" (click)="cambiarPagina(numPagina - 1)">
                            <span aria-hidden="true"><</span>
                        </span>
                    </li>
                    @for (pagina of paginas; track pagina) {
                        <li class="page-item" [ngClass]="{'active': pagina == numPagina}">
                            <span class="page-link" (click)="cambiarPagina(pagina)">{{ pagina }}</span>
                        </li>
                    }
                    <li class="page-item">
                        <span class="page-link" aria-label="Siguiente" (click)="cambiarPagina(numPagina + 1)">
                            <span aria-hidden="true">></span>
                        </span>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>
